a{
    text-decoration: none;
}

/*   Navbar Start   */

ul,ol{
    list-style: none;
}

.navbar{
    background-color: #1C1E53;
    padding: 16px !important;
}

.navbar .nav-link{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0px !important;
    transition: .3s;
}

.navbar .nav-item:hover .nav-link{
    color: white;
}

.navbar .navbar-nav{
    column-gap: 32px;
}

.navbar .navbar-button{
    background-color: transparent;
    border: 1px solid #F4F6FC33;
    color: white;
    border-radius: 41px;
    padding: 16px 48px;
    margin-left: 48px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
}

.navbar .navbar-button:hover{
    background-color: #FCD980;
    border-color: transparent;
    color: #1B1C2B;
}

/*   Navbar End   */

/*   Banner Start   */

.banner{
    background-color: #1C1E53;
    padding-top: 126px;
    padding-bottom: 157px;
}

.banner h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    width: 582px;
    line-height: 74px;
}

.banner p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    width: 562px;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.banner .banner-button{
    background-color: #FCD980;
    border: 1px solid transparent;
    color: #1B1C2B;
    border-radius: 41px;
    padding: 16px 56px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    line-height: 32px;
    transition: .4s;
}

.banner .banner-button:hover{
    background-color: transparent;
    border-color: #F4F6FC33;
    color: white;
}

.banner .banner-button-ani{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    margin-left: 40px;
    position: relative;
}

.banner .banner-button-ani i{
    position: absolute;
    top: 5px;
    left: 102px;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}

.banner .banner-button-ani:hover i{
    left: 126px;
    opacity: 1;
    visibility: visible;
}

/*   Banner End   */

/*   Work Start  */

.work{
    padding: 148px 0px;
    background-color: #F4F6FC;
}

.work h2{
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px;
}

.work p{
    color: rgba(40, 41, 56, 0.7);
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    padding: 16px 0px;
    width: 405px;
}

.work .work-button-ani{
    color: #2405F2;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
    position: relative;
}

.work .work-button-ani i{
    position: absolute;
    top: 4px;
    left: 172px;
    transition: .4s;
    opacity: 0;
    visibility: hidden;
}

.work .work-button-ani:hover i{
    left: 196px;
    opacity: 1;
    visibility: visible;
}

.work .work-box{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 15px;
}

.work .item{
    width: 48%;
    height: 250px;
}

.work .item h4{
    color: #282938;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    padding-top: 16px;
    padding-bottom: 8px;
}

.work .item p{
    color: rgba(40, 41, 56, 0.7);
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    width: 303px;
    padding: 0px !important;
}


/*   Work End   */